<div class="usuario container mt-5 bg-light p-5 col-10 mt-5 mb-5 text-center">

  <h3 class="mb-3">Editar mis datos</h3>

  <!-- VOY A PONER QUE EL USERNAME NO SEA EDITABLE -->
    <!-- <mat-form-field appearance="outline" class="col-7">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Nombre" [(ngModel)]="user.usuario">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field> -->
  
    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="user.nombre">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Primer apellido</mat-label>
      <input matInput [(ngModel)]="user.apellido1">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Segundo apellido</mat-label>
      <input matInput [(ngModel)]="user.apellido2">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email">
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Teléfono 1</mat-label>
      <input matInput [(ngModel)]="user.telefono1">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Teléfono 2</mat-label>
      <input matInput [(ngModel)]="user.telefono2">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Ciudad</mat-label>
      <input matInput [(ngModel)]="user.ciudad">
      <mat-icon matSuffix>gps_fixed</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="*****" type="password" [(ngModel)]="user.contrasenia">
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-7">
      <mat-label>Repite la contraseña</mat-label>
      <input matInput placeholder="*****" type="password">
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
  
    <button mat-raised-button color="primary" class="col-7 mt-3 p-1" type="submit" (click)="guardarCambios()">Modificar cambios</button>

    <button mat-raised-button color="warn" class="col-7 mt-3 p-1" type="submit" (click)="borrarCuenta()">Eliminar mi cuenta</button>
  
</div>
