<div class="usuario container mt-5 bg-light p-5 col-5 mt-5 mb-5 text-center">

  <h3 class="mb-3">Editar mis datos</h3>
  <mat-form-field appearance="outline" class="col-7">
    <mat-label>Usuario</mat-label>
    <input matInput value="{{usuario}} JuanPerez95">
    <mat-icon matSuffix>alternate_email</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-7">
    <mat-label>Nombre</mat-label>
    <input matInput value="{{nombre}} Juan">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-7">
    <mat-label>Primer apellido</mat-label>
    <input matInput value="{{apellido1}} Pérez">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-7">
    <mat-label>Segundo apellido</mat-label>
    <input matInput value="{{apellido2}} García">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-7">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="*****">
    <mat-icon matSuffix>password</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-7">
    <mat-label>Repite la contraseña</mat-label>
    <input matInput placeholder="*****">
    <mat-icon matSuffix>password</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" class="col-7 mt-3">Modificar cambios</button>

</div>
