*{
    text-decoration: none;
}

.header{
    background-color: teal;
    height: 10%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h1{
    color: white;
}

a{
    color: white;
    margin: 10px;
}
