<div class="landing container bg-light p-5 col-12 text-center">

  <!-- <img src="../../assets/logo.png" alt="logo">

  <div class="row mt-5">
    <h2>Bienvenid@ al mundo de los QR</h2>
    <h3>Actualiza tu currículum y dale un empujón a tu carrera</h3>
  </div>
  

  <div class="row">
    <div class="col-md-6 m-auto col-sm-12">
      <button mat-raised-button color="primary" class="mt-5 col-12" (click)="btnLogin()">Acceder</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 m-auto col-sm-12">
      <button mat-raised-button color="primary" class="mt-5 col-12" (click)="btnRegistro()">Registro</button>
    </div>
    <img src="../../assets/Resume folder-bro.svg" alt="ilustracion">

  </div> -->

    <img src="../../assets/logo.png" alt="logo">

    <div class="row mt-4">
      <h2>Bienvenid@ al mundo de los QR</h2>
      <h3>Actualiza tu currículum y dale un empujón a tu carrera</h3>

      <div class="col-12 mt-5">
        <div class="col-md-6 m-auto col-sm-12">
          <button mat-raised-button color="primary" class="mt-5 col-12" (click)="btnLogin()">Acceder</button>
        </div>
    
    
        <div class="col-md-6 m-auto col-sm-12">
          <button mat-raised-button color="primary" class="mt-5 col-12" (click)="btnRegistro()">Registro</button>
        </div>
      </div>
    </div>


  <div class="row d-flex align-items-center mt-5 seccion">

    <div class="col-md-6 m-auto col-sm-12">

      <h3>Consigue que tu CV destaque y consigue el trabajo de tus sueños</h3>
    </div>


    
    <img src="../../assets/Resume folder-bro.svg" alt="ilustracion" class="col-md-6 m-auto col-sm-12">


  </div>

</div>