.editarCV {

    border-radius: 10px;
    background-color: white;
}

.tarjeta {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    /* border: 2px solid rgba(0, 0, 0, 0.1); */
}

.center{
    margin-left: 20%;
}



.margin{
    margin: 2px;
}