<div class="editarCV container mt-5 bg-light p-5 col-10 mt-5 mb-5 text-center">
  <form [formGroup]="formacionForm" >

    <h3 class="mt-4 mb-4">Datos de mi CV</h3>

    <hr>

    <div class="sobreMi">
      <h3 class="mt-4 mb-4">Sobre mí</h3>
      <mat-form-field appearance="outline" class="col-10">
        <mat-label>Sobre mí</mat-label>
        <textarea matInput formControlName="sobreMi"></textarea>
      </mat-form-field>
    </div>

    <hr>


    <div formArrayName="redes" class="formulario">
      <h3 class="mt-5">Redes sociales</h3>
      <div *ngFor="let employee of redes().controls; let empIndex=index" class="formulario">
        <div [formGroupName]="empIndex" class="tarjeta p-2 mb-3 mt-2">
          <h4>Red {{empIndex + 1}}<button class="btn btn-danger m-3" (click)="removeRedes(empIndex)"><i
                class="fa-solid fa-trash"></i></button></h4>
              
                <mat-form-field appearance="outline" >
                  <mat-label>Red</mat-label>
                  <mat-select [value]='red'>
                    <mat-option value="facebook">Facebook</mat-option>
                    <mat-option value="linkedin">LinkedIn</mat-option>
                    <mat-option value="github">GitHub</mat-option>
                    <mat-option value="twitter">Twitter</mat-option>
                    <mat-option value="instagram">Instagram</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-5 m-1">
                  <mat-label>Nombre de usuario</mat-label>
                  <input matInput formControlName="usuario">
                </mat-form-field>

        </div>
      </div>
      <button mat-raised-button color="primary" class="col-7 mt-3 mb-3 center" (click)="addRedes()">Añadir
        red social</button>
    </div>



    <hr>  

    <div class="estudios">

      <h3 style="text-align: center">Formación</h3>

      <div class="editarCV container mt-5 bg-light ">

        <div formArrayName="formacion" class="formulario">
          <div *ngFor="let employee of formacion().controls; let empIndex=index" class="formulario">
            <div [formGroupName]="empIndex" class="tarjeta p-2 mb-3 mt-2">
              <h4>Formacion {{empIndex + 1}}<button class="btn btn-danger m-3" (click)="removeFormacion(empIndex)"><i
                    class="fa-solid fa-trash"></i></button></h4>
              <mat-form-field appearance="outline" class="col-5 m-1">
                <mat-label>Institución</mat-label>
                <input matInput placeholder="Ej. IES Albarregas" formControlName="institucion">
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-5 m-1">
                <mat-label>Denominación</mat-label>
                <input matInput placeholder="Ej. Grado superior de desarrollo de aplicaciones web"
                  formControlName="denominacion">
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-3 m-1">
                <mat-label>Nota</mat-label>
                <input matInput type="number" formControlName="nota">
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-3 m-1">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput type="date" formControlName="fIni">
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-3 m-1">
                <mat-label>Fecha de finalización</mat-label>
                <input matInput type="date" formControlName="fFin">
              </mat-form-field>

            </div>
          </div>

          <button mat-raised-button color="primary" class="col-7 mt-3 mb-3 center" (click)="addFormacion()">Añadir
            formación</button>
        </div>

        <hr>

        <div formArrayName="expLaboral" class="formulario">
          <h3 class="mt-5">Experiencia laboral</h3>
          <div *ngFor="let employee of expLaboral().controls; let empIndex=index" class="formulario">
            <div [formGroupName]="empIndex" class="tarjeta p-2 mb-3 mt-2">
              <h4>Experiencia {{empIndex + 1}}<button class="btn btn-danger m-3" (click)="removeExpLaboral(empIndex)"><i
                    class="fa-solid fa-trash"></i></button></h4>
                    <mat-form-field appearance="outline" class="col-5 m-1">
                      <mat-label>Empresa</mat-label>
                      <input matInput placeholder="Ej. Accenture" formControlName="empresa">
                    </mat-form-field>
          
                    <mat-form-field appearance="outline" class="col-5 m-1">
                      <mat-label>Puesto</mat-label>
                      <input matInput placeholder="Ej. Desarrollador junior Java" formControlName="cargo">
                    </mat-form-field>
          
                    <mat-form-field appearance="outline" class="col-10">
                      <mat-label>Descripción de funciones</mat-label>
                      <input matInput placeholder="Ej. Desarrollo de aplicación web" formControlName="descripcion">
                    </mat-form-field>
          
                    <mat-form-field appearance="outline" class="col-5 m-1">
                      <mat-label>Fecha de inicio</mat-label>
                      <input matInput type="date" formControlName="fIni">
                    </mat-form-field>
          
                    <mat-form-field appearance="outline" class="col-5 m-1">
                      <mat-label>Fecha de finalización</mat-label>
                      <input matInput type="date" formControlName="fFin">
                    </mat-form-field>
          

            </div>
          </div>
          <button mat-raised-button color="primary" class="col-7 mt-3 mb-3 center" (click)="addExpLaboral()">Añadir
            experiencia</button>
        </div>

        <hr>

        <div formArrayName="idiomas" class="formulario">
          <h3 class="mt-5">Idiomas</h3>

          <div *ngFor="let employee of idiomas().controls; let empIndex=index" class="formulario">
            <div [formGroupName]="empIndex" class="tarjeta p-2 mb-3 mt-2">
              <h4>Idioma {{empIndex + 1}}<button class="btn btn-danger m-3" (click)="removeIdiomas(empIndex)"><i
                    class="fa-solid fa-trash"></i></button></h4>
                    
                    <mat-form-field appearance="outline" class="col-5 m-1">
                      <mat-label>Idioma</mat-label>
                      <input matInput placeholder="Ej. Inglés" formControlName="idioma">
                    </mat-form-field>
          
                    <mat-form-field appearance="outline" class="m-1">
                      <mat-label>Nivel</mat-label>
                      <mat-select formControlName="nivel">
                        <mat-option>
                          A1
                        </mat-option>
                        <mat-option>
                          A2
                        </mat-option>
                        <mat-option>
                          B1
                        </mat-option>
                        <mat-option>
                          B2
                        </mat-option>
                        <mat-option>
                          C1
                        </mat-option>
                        <mat-option>
                          C2
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

            </div>
          </div>
          <button mat-raised-button color="primary" class="col-7 mt-3 mb-3 center" (click)="addIdiomas()">Añadir
            idioma</button>
          
        </div>

        <hr>

        <div formArrayName="certificados" class="formulario">
          <h3 class="mt-5">Certificados</h3>
          <div *ngFor="let employee of certificados().controls; let empIndex=index" class="formulario">
            <div [formGroupName]="empIndex" class="tarjeta p-2 mb-3 mt-2">
              <h4>Certificado {{empIndex + 1}}<button class="btn btn-danger m-3" (click)="removeCertificados(empIndex)"><i
                    class="fa-solid fa-trash"></i></button></h4>
                    <mat-form-field appearance="outline" class="col-8 m-3">
                      <mat-label>Certificado</mat-label>
                      <input matInput placeholder="Ej. Professional Cloud Architect" formControlName="certificado">
                    </mat-form-field>
          
                    <mat-form-field appearance="outline" class="col-4 m-3">
                      <mat-label>Expedición</mat-label>
                      <input matInput placeholder="Ej. Google" formControlName="expedicion">
                    </mat-form-field>
          
                    <mat-form-field appearance="outline" class="col-4">
                      <mat-label>Fecha de expedición</mat-label>
                      <input matInput type="date" formControlName="fecha">
                    </mat-form-field>
          

            </div>
          </div>
          <button mat-raised-button color="primary" class="col-7 mt-3 mb-3 center" (click)="addCertificados()">Añadir
            certificado</button>
        </div>


        <hr>


        <div formArrayName="conocimientos" class="formulario">
          <h3 class="mt-5">Conocimientos</h3>
          <div *ngFor="let employee of conocimientos().controls; let empIndex=index" class="formulario">
            <div  class="tarjeta p-2 mb-3 mt-2">
              <h4>Conocimiento {{empIndex + 1}}<button class="btn btn-danger m-3" (click)="removeConocimiento(empIndex)"><i
                    class="fa-solid fa-trash"></i></button></h4>
                    <mat-form-field appearance="outline" class="col-8 m-3">
                      <mat-label>Conocimiento</mat-label>
                      <input matInput placeholder="Ej. Angular, MySQL..." formControlName="{{empIndex}}">
                    </mat-form-field>
          

            </div>
          </div>
          <button mat-raised-button color="primary" class="col-7 mt-3 mb-3 center" (click)="addConocimiento()">Añadir
            conocimiento</button>
        </div>


      </div>
    </div>
  </form>

<hr>

  <button mat-raised-button color="primary" class="col-7 mt-3 mb-3 center" (click)="actualizarCV()">Enviar
    información</button>

</div>