<div class="registro">
  <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Usuario">
    <mat-icon matSuffix>alternate_email</mat-icon>
    <mat-hint>Entre 5 y 20 caracteres</mat-hint>
  </mat-form-field>

  <br>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
      <mat-icon matSuffix>email</mat-icon>

    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Contraseña">
      <mat-icon matSuffix>password</mat-icon>
      <mat-hint>Entre 5 y 20 caracteres</mat-hint>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Repite la contraseña</mat-label>
      <input matInput placeholder="Repite la contraseña">
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary">Registro</button>


  </div>