/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";

*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: url(assets/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #6A1B9A;
}



