<div class="registro container mt-5 bg-light p-5 col-10 mt-5 text-center">

  <div class="row text-center">

    <h3>Regístrate</h3>

    <form [formGroup]="registroForm">

      <div class="row w-100 d-flex justify-content-center align-items-center">
        <mat-form-field appearance="outline" class="col-md-7 col-sm-12 mt-2 ">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario" formControlName="usuario" (blur)="checkUsername($event)">
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-hint>Entre 5 y 20 caracteres</mat-hint>
          <mat-error *ngIf="hasError('usuario', 'minlength')">El mínimo son 5 caracteres</mat-error>
          <mat-error *ngIf="hasError('usuario', 'maxlength')">El máximo son 20 caracteres</mat-error>
        </mat-form-field>
      </div>

      <div class="row w-100 d-flex justify-content-center align-items-center">

        <mat-form-field appearance="outline" class="col-md-7 col-sm-12 ">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>

        </mat-form-field>

      </div>

      <div class="row w-100 d-flex justify-content-center align-items-center">

        <mat-form-field appearance="outline" class="col-md-7 col-sm-12 ">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña" formControlName="contrasenia" type="password">
          <mat-icon matSuffix>password</mat-icon>
          <mat-hint>Entre 5 y 20 caracteres</mat-hint>
          <mat-error *ngIf="hasError('contrasenia', 'minlength')">El mínimo son 5 caracteres</mat-error>
          <mat-error *ngIf="hasError('contrasenia', 'maxlength')">El máximo son 20 caracteres</mat-error>
          <mat-error class="password-mismatch" *ngIf="registroForm?.get('contrasenia')?.controls?.confirmPassword?.hasError('mismatch')">
            {{ 'sign-up.password-error.mismatch'}}
          </mat-error>
        </mat-form-field>

      </div>

      <div class="row w-100 d-flex justify-content-center align-items-center">

        <mat-form-field appearance="outline" class="col-md-7 col-sm-12 ">
          <mat-label>Repite la contraseña</mat-label>
          <input matInput placeholder="Repite la contraseña" formControlName="contrasenia2" type="password">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

      </div>

      <div class="row w-100 d-flex justify-content-center align-items-center">
        <button mat-raised-button color="primary" class="col-md-5 col-sm-12 " (click)="onSubmit()" type="submit">Registro</button>
      </div>

      <div class="row w-100 d-flex justify-content-center align-items-center mt-3">
        <button mat-stroked-button color="primary" class="col-md-5 col-sm-12 " (click)="irLogin()" type="button">¿Ya tienes una cuenta? Accede</button>

      </div>

    </form>

    

  </div>

</div>