<div class="login">
  <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Usuario">
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint>Entre 5 y 20 caracteres</mat-hint>
  </mat-form-field>

  <!-- PROVISIONAL -->
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña">
    <mat-icon matSuffix>password</mat-icon>
    <mat-hint>Entre 5 y 20 caracteres</mat-hint>
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary">Acceder</button>

  
</div>

