<div class="login container mt-5 bg-light p-5 col-10 mt-5 text-center">

  <h3>Accede</h3>
    <mat-form-field appearance="outline" class="col-7 mt-3">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Usuario" [(ngModel)]="username" >
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-hint>Entre 5 y 20 caracteres</mat-hint>
    </mat-form-field>


  <mat-form-field appearance="outline" class="col-7">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" type="password" [(ngModel)]="contrasenia">
    <mat-icon matSuffix>password</mat-icon>
    <mat-hint>Entre 5 y 20 caracteres</mat-hint>
  </mat-form-field>


  <button mat-raised-button color="primary" class="col-7 mt-3" (click)="btnAcceder();">Acceder</button>

  <br>
  <a href="/registro">¿No tienes cuenta aún? Regístrate</a>
  
</div>

